$fontFamily: "Roboto";

$fontSizeMain: 14px;

$colorMain: #000;

$minWidth: 320px;
$contentWidth: 1400px;
$contentFluidWith: 1800px;
$containerOffset: 15px;

$containerWidth: $contentWidth + ($containerOffset * 2);


